/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
}

body {		
	margin: 0 auto;
}

	#wrapper {
		position: relative;
		width: 960px;
		display: block;
		/*background-color: yellow;*/
	}

		#headings {
			width: 580px;
			height: 30px;
			/*background-color: blue;*/
			display: inline-block;
			border: solid 2px;
			padding: 5px;
			padding-top: 5px;
			margin: 30px;
			background-position: left;
		}

			td.top-headings {
				display: inline-table;
				/*background-color: green;*/
				margin-left: 15px;
				background-position: left;	
			}

		#my-table {
			width: 400px;
			margin-left: 90px;
			margin-top: 30px;
		}

			.description {
				width: 380px;
				margin-left: 30px;
			}

			input.input-box {
				border: solid 1px;
				width: 200px;
				height: 30px;
				display: block;
			}

		#user-button {
			margin-left: 300px;
			margin-top: 50px;
			font-size: 15px;
			border-radius: 5px;
			padding: 5px;
		}
	